{% extends "base.html" %}
{% block title %}个人主页{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/buttons.css">
    <script src="/static/js/weibo.js"></script>
    <script src="/static/js/weiboAct.js"></script>
    <script>
    var bindActions = function () {
        $('#id-btn-sub').on('click', function () {
            tweet_add();
        });
        $('#id-div-insert').on('click', '.icon-remove', function () {
            var $self = $(this);
            if ({{current_user.id}} == $self.attr('data-id'))
            {
                tweet_delete($self);
            }
        })
    };

    var __main = function () {
        bindActions();
    };

    $(document).ready(function () {
        __main();
    });
    </script>
{% endblock %}

{% block timeline %}
    <a href="/timeline/{{current_user.id}}">
{% endblock %}

{% block follow %}
    <a href="/follow/list/{{current_user.id}}">
{% endblock %}

{% block fans %}
    <a href="/fan/list/{{current_user.id}}">
{% endblock %}

{% block personal %}
    <a href="/user/{{current_user.id}}">
{% endblock %}

{% block username %}
    {{current_user.username}}
{% endblock %}

{% block content1 %}
    <div style="text-align: center">
        <div class="list-group">
            <a href="/follow/list/{{current_user.id}}" class="list-group-item">
            <span class="badge">{{follows_count}}</span>
                关注人数
            </a>
            <a href="/fan/list/{{current_user.id}}" class="list-group-item">
            <span class="badge">{{fans_count}}</span>
                粉丝人数
            </a>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="说点什么~~" id="id-input-content">
        <span class="input-group-btn">
            <button class="btn" id="id-btn-sub" style="background: #EEEEEE;">发布</button>
        </span>
    </div>
    <hr>
    <div id="id-div-insert">
        {% for t in tweets %}
            <div class="panel panel-default" data-id={{t.id}}>
                <div class="panel-heading">
                    <p class="panel-title">{{t.sender_name}}
                        <a class="btn pull-right"><i class="icon-remove" title="删除" data-id="{{t.user_id}}"></i></a>
                        <br>{{t.created_time | formatted_time}}
                    </p>
                </div>
                <div class="panel-body">
                    {{t.content}}
                </div>
                <table class="table">
                    <tr>
                        <td>
                            <a class="btn">
                                <i class=" icon-share-alt"></i>转发</a>
                        </td>
                        <td>
                            <a class="btn">
                                <i class="icon-comment"></i>评论</a>
                        </td>
                        <td>
                            <a class="btn">
                                <i class="icon-thumbs-up"></i>赞</a>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}