{% extends "base.html" %}
{% block title %}个人主页{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/buttons.css">
        <link rel="stylesheet" href="/static/css/pp-basic.css">
    <script src="/static/js/weibo.js"></script>
    <script src="/static/js/weiboAct.js"></script>
    <script>
        var bindActions = function () {
            $('#id-btn-sub').on('click', function () {
                tweet_add();
            });
            $('#id-div-insert').on('click', '.icon-remove', function () {
                var $self = $(this);
                tweet_delete($self);
            });
            $('#id-div-insert').on('click', '.icon-comment', function () {
                var $self = $(this);
                var status = $self.text();
                if (status == '收起') {
                    comment_close($self);
                } else {
                    comment_open($self);
                }
            });
            $('#id-div-insert').on('click', '#id-btn-comment', function () {
                log('准备添加评论');
                var $self = $(this);
                add_comment($self);
            });
            $('#id-div-insert').on('click', '.icon-thumbs-up', function() {
                log('准备开赞');
                var $self = $(this);
                tweet_thumbs_up($self);
            });
        };

        var __main = function () {
            bindActions();
        };

        $(document).ready(function () {
            __main();
        });
    </script>
{% endblock %}

{% block timeline %}
    <a href="/timeline/{{ current_user.id }}">
{% endblock %}

{% block follow %}
    <a href="/follow/list/{{ current_user.id }}">
{% endblock %}

{% block fans %}
    <a href="/fan/list/{{ current_user.id }}">
{% endblock %}

{% block personal %}
    <a href="/user/{{ current_user.id }}">
{% endblock %}

{% block username %}
    {{ current_user.username }}
{% endblock %}

{% block content1 %}
    <div style="text-align: center">
        <div class="list-group">
            <a href="/follow/list/{{ current_user.id }}" class="list-group-item">
                <span class="badge">{{ follows_count }}</span>
                关注人数
            </a>
            <a href="/fan/list/{{ current_user.id }}" class="list-group-item">
                <span class="badge">{{ fans_count }}</span>
                粉丝人数
            </a>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="input-group">
      <input type="text" class="form-control" placeholder="说点什么~~" id="id-input-content">
      <span class="input-group-btn">
        <button class="btn" id="id-btn-sub" style="background: #EEEEEE;">发布</button>
      </span>
    </div>
    <hr>
    <div id="id-div-insert">
    {% for t in tweets %}
        <div class="pp-panel pp-flex-row" data-id="{{ t.id }}">
            <div class="pp-avatar pp-avatar-config">
                <img class="pp-avatar-me" src="/static/img/head-min.jpg">
            </div>
            <div class="pp-main flex-1">
                <div class="pp-main-header">
                    <strong class="pp-full-name">{{ t.sender_name }}</strong>
                    <span class="pp-timestamp">{{ t.created_time | formatted_time}}</span>
                    <a class="icon-remove btn" title="删除"></a>
                </div>
                <div class="pp-main-content">
                    <p class="pp-weibo-text">{{ t.content }}</p>
                </div>
               <!-- <div class="pp-main-pic">
                    <img class="pp-weibo-pic" src="/static/img/main-pic.jpg">
                </div> -->
                <div class="pp-main-footer">
                    <a class="btn icon-share-alt" title="转发"> 2</a>
                    <a class="btn icon-comment" title="评论"> {{ t.com_count }}</a>
                    {% if current_user.id in t.users_id() %}
                        <a class="btn icon-thumbs-up" style="color: #e81c4f;" title="赞"> {{ t.likes_count() }}</a>
                    {% else %}
                        <a class="btn icon-thumbs-up" title="赞"> {{ t.likes_count() }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
