{% extends "base.html" %}
{% block title %}用户列表{% endblock %}
{% block content1 %}
    <div style="text-align: center">
        <ul class="list-group">
            <li class="list-group-item">
            <span class="badge">14</span>
                关注人数
            </li>
            <li class="list-group-item">
            <span class="badge">11</span>
                粉丝人数
            </li>
        </ul>
    </div>
{% endblock %}


{% block content2 %}
<ul class="list-group">
    {% for u in user_all %}
      <li class="list-group-item"><a href="/user/{{u.id}}">{{u.username}}</a> </li>
    {% endfor %}
</ul>
{% endblock %}